<link rel="stylesheet" href="/assets/styles/style.css">
<!-- Main Navigation -->
<nav ng-class="currentView">
	<a class="brand" href="/">
		<figure class="logo">
			<div class="ripple"></div>
			<div class="ripple"></div>
			<div class="ripple"></div>
			<div class="ripple"></div>
		</figure>
		<h3>ripples</h3>	
	</a>
	<ul>
		<li><a href="/blog">BLOG</a></li>
		<li><a href="/contact">CONTACT</a></li>
		<li><a href="/about">ABOUT</a></li>
		<li><a href="/store">STORE</a></li>
	</ul>
</nav>
<section class="about-section" ng-hide="currentView != 'about'">
	<div class="team cf">
		<div class="card">
			<figure class="portrait"></figure>
			<h1></h1>
			<h3></h3>
			<p></p>
			<d>
				<a href=""></a>
				<a href=""></a>
				<a href=""></a>
			</d>
		</div>
		<div class="card">
			<figure class="portrait"></figure>
			<h1></h1>
			<h3></h3>
			<p></p>
			<d>
				<a href=""></a>
				<a href=""></a>
				<a href=""></a>
			</d>
		</div>
		<div class="card">
			<figure class="portrait"></figure>
			<h1></h1>
			<h3></h3>
			<p></p>
			<d>
				<a href=""></a>
				<a href=""></a>
				<a href=""></a>
			</d>
		</div>
	</div>
</section>
<figure class="bg1 bg" ng-hide="currentView != 'home'"></figure>