.bg{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: opacity .4s;
	z-index: -1;
	
	&.ng-hide{
		display: block !important;
		opacity: 0;
	}

	&.bg1{
		background: url('../images/background2.png');
		background-size: cover;
	}

	&.bg2{
		background: #ececec;
	}

	&.bg3{
		background: url('../images/bluesf.png');
		background-size: cover;
	}
}