html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  background: #f8f8f8; }

.view {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

.bg {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  z-index: 1;
  background: #f8f8f8; }
  .bg.ng-hide {
    display: block !important;
    opacity: 0; }
  .bg.bg1 {
    background: url('../images/background2.png');
    background-size: cover; }

@font-face {
  font-family: 'gyre';
  src: url('../fonts/texgyreadventor-regular.otf'); }

@font-face {
  font-family: 'proxima-nova';
  src: url('../fonts/proximanovaregular.ttf'); }

body {
  font-family: 'proxima-nova', 'helvetica neue', 'helvetica', sans-serif; }

a {
  text-decoration: none; }

figure {
  margin: 0; }

.about-section {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute; }
  .about-section .team {
    max-width: 1020px;
    width: 90%;
    min-height: 470px;
    height: auto;
    position: relative;
    margin: 0 auto;
    margin-top: 50%;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
    .about-section .team .card {
      width: -webkit-calc(33% - 40px);
      width: -moz-calc(33% - 40px);
      width: calc(33% - 40px);
      margin: 0;
      margin-left: 60px;
      height: auto;
      float: left; }
      .about-section .team .card:first-of-type {
        margin-left: 0; }

nav {
  width: 100%;
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 0;
  height: 60px; }
  nav ul {
    float: right;
    width: 500px;
    height: 60px;
    margin: 0;
    list-style: none; }
    nav ul li {
      display: inline-block;
      float: right;
      margin-left: 40px;
      margin-top: 20px; }
      nav ul li:first-of-type {
        margin-right: 40px; }
      nav ul li:last-of-type {
        margin-left: 0; }
  nav .logo {
    width: 60px;
    height: 60px;
    position: absolute; }
    nav .logo .ripple {
      border-radius: 36%;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      opacity: 0.3;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-transition: background 0.2s;
      -moz-transition: background 0.2s;
      -o-transition: background 0.2s;
      transition: background 0.2s; }
      nav .logo .ripple:nth-of-type(1) {
        width: 8px;
        height: 8px; }
      nav .logo .ripple:nth-of-type(2) {
        width: 16px;
        height: 16px;
        -webkit-transition: background 0.2s 0.1s;
        -moz-transition: background 0.2s 0.1s;
        -o-transition: background 0.2s 0.1s;
        transition: background 0.2s 0.1s; }
      nav .logo .ripple:nth-of-type(3) {
        width: 24px;
        height: 24px;
        -webkit-transition: background 0.2s 0.2s;
        -moz-transition: background 0.2s 0.2s;
        -o-transition: background 0.2s 0.2s;
        transition: background 0.2s 0.2s; }
      nav .logo .ripple:nth-of-type(4) {
        width: 32px;
        height: 32px;
        -webkit-transition: background 0.2s 0.3s;
        -moz-transition: background 0.2s 0.3s;
        -o-transition: background 0.2s 0.3s;
        transition: background 0.2s 0.3s; }
  nav .brand {
    font-size: 24px;
    font-family: "gyre";
    width: 170px;
    height: 60px;
    margin: 0;
    padding: 0;
    display: block;
    float: left; }
    nav .brand h3 {
      position: absolute;
      left: 60px;
      top: 6px;
      margin: 0;
      font-weight: 100;
      -webkit-transition: color;
      -moz-transition: color;
      -o-transition: color;
      transition: color; }
  nav a {
    -webkit-transition: opacity 0.2s, color 0.4s;
    -moz-transition: opacity 0.2s, color 0.4s;
    -o-transition: opacity 0.2s, color 0.4s;
    transition: opacity 0.2s, color 0.4s; }
    nav a:hover {
      opacity: 0.3; }
  nav.home .ripple {
    background: white; }
  nav.home a {
    color: white; }
  nav.work .ripple {
    background: #FF7806; }
  nav.work a {
    color: #FF7806; }
  nav.about .ripple {
    background: #719fdd; }
  nav.about a {
    color: #719fdd; }
  nav.store .ripple {
    background: #FF7806; }
  nav.store a {
    color: #FF7806; }
  nav.blog .ripple {
    background: #45D1B0; }
  nav.blog a {
    color: #45D1B0; }
  nav.contact .ripple {
    background: #f83b55; }
  nav.contact a {
    color: #f83b55; }
