.about-section{




	.deck{

	  .card{

	    .c-head{

	      img{
	      	box-shadow: 0 0 0 2px $blue;
	      }

	      h1,h2,h3,h4{
	      	color: $blue;
	      }
	    }


			// Footer card
	      .c-foot{
			    ul{
			      li{
			        a{
			        	color: $blue;
			        }
			      }
			    }
			  }

	  }

	  &.c-full{
	  	margin-top: 1em;
	  	float: left;
	  }
	}

}
