nav{
	width: 90%;
	position: absolute;
	z-index: 9999;
	left: 0;
	top: 0;
	height: 60px;
	right: 0;
	margin: auto;
	padding: 1em 0;

	ul{
		float: right;
		width: 500px;
		height: 60px;
		margin: 0;
		list-style: none;

		li{
			display: inline-block;
			float: right;
			margin-left: 40px;
			margin-top: 20px;
			&:first-of-type{
				margin-right: 40px;
			}

			&:last-of-type{
				margin-left: 0;
			}
		}
	}

	.logo{
		width: 60px;
		height: 60px;
		position: absolute;

		.ripple{
			border-radius: 36%;
			transform: rotate(45deg);
			position: absolute;
			opacity: 0.3;
			margin: auto;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transition: background .2s;


			&:nth-of-type(1){
				width: 8px;
				height: 8px;
			}
			&:nth-of-type(2){
				width: 16px;
				height: 16px;
				transition: background .2s .1s;
			}
			&:nth-of-type(3){
				width: 24px;
				height: 24px;
				transition: background .2s .2s;
			}
			&:nth-of-type(4){
				width: 32px;
				height: 32px;
				transition: background .2s .3s;
			}
		}
	}

	.brand{
		font-size: 24px;
		font-family: "gyre";
		width: 170px;
		height: 60px;
		margin: 0;
		padding: 0;
		display: block;
		float: left;

		h3{
			position: absolute;
			left: 60px;
			top: 23px;
			margin: 0;
			font-weight: 100;
			transition: color
		}
	}

	a{
		transition: opacity .2s, color .4s;
		&:hover{
			opacity: 0.3;
		}
	}

	&.home{
		.ripple{
			background: white;
		}

		a{
			color: white;
		}
	}

	&.work{
		.ripple{
			background: #FF7806;
		}

		a{
			color: #FF7806;
		}
	}

	&.about{
		.ripple{
			background: #719fdd;
		}

		a{
			color: #719fdd;
		}
	}

	&.store{
		.ripple{
			background: #FF7806;
		}

		a{
			color: #FF7806;
		}
	}

	&.blog{
		.ripple{
			background: #45D1B0;
		}

		a{
			color: #45D1B0;
		}
	}

	&.contact{
		.ripple{
			background: #f83b55;
		}

		a{
			color: #f83b55;
		}
	}
}
