<link rel="stylesheet" href="/assets/styles/style.css">
<!-- Main Navigation -->
<nav data-ng-class="currentView">
	<a class="brand" href="/">
		<figure class="logo">
			<div class="ripple"></div>
			<div class="ripple"></div>
			<div class="ripple"></div>
			<div class="ripple"></div>
		</figure>
		<h3>Ripples</h3>	
	</a>
	<ul>
		<li><a href="/work">WORK</a></li>
		<li><a href="/about">ABOUT</a></li>
		<li><a href="/services">SERVICES</a></li>
		<li><a href="/blog">BLOG</a></li>
		<li><a href="/contact">CONTACT</a></li>
	</ul>
</nav>
<figure class="bg1 bg" data-ng-hide="currentView != 'home'"></figure>
<figure class="bg2 bg" data-ng-hide="currentView != 'work'"></figure>
<figure class="bg3 bg" data-ng-hide="currentView != 'about'"></figure>
<figure class="bg4 bg" data-ng-hide="currentView != 'services'"></figure>
<figure class="bg5 bg" data-ng-hide="currentView != 'blog'"></figure>
<figure class="bg6 bg" data-ng-hide="currentView != 'contact'"></figure>